html,
body {
  padding: 0;
  margin: 0;
  font: optional;
  font-family: "Poppins", sans-serif;
  color: white;
  background: #222327;
   
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #222327;
  }
}
.swiper-pagination-bullet-active {
  background-color: #f34336 !important;
}
.swiper-button-prev,.swiper-button-next{
  color: #f34336 !important;
}
.swiper-pagination{
  bottom:37px !important;
}